<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Anodized
Description: A two-column, fixed-width design with a dark color scheme.
Version    : 1.0
Released   : 20120705
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>
	Anodized by TEMPLATED
</title>
<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Bevan" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1>
				<a href="#">Anodized</a>
			</h1>
		</div>
		<div id="search">
			<form action="" method="post">
				<div>
					<input class="text" name="search" size="32" maxlength="64" />
				</div>
			</form>
		</div>
		<div id="menu">
			<ul>
				<li class="first active">
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Blog</a>
				</li>
				<li>
					<a href="#">Portfolio</a>
				</li>
				<li>
					<a href="#">Downloads</a>
				</li>
				<li>
					<a href="#">About</a>
				</li>
				<li>
					<a href="#">Links</a>
				</li>
				<li class="last">
					<a href="#">Contact</a>
				</li>
			</ul><br class="clearfix" />
		</div>
	</div>
	<div id="page">
		<div id="content">
			<div class="box">
				<h2>
					Welcome to Anodized
				</h2>
				<p>
					This is <strong>Anodized</strong>, a free and fully standards-compliant CSS website template by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. 
					The pictures in this template are from <a href="http://fotogrph.com/">Fotogrph</a>. This free CSS template is released under 
					a <a href="http://templated.co/license">Creative Commons Attribution</a> license, so you're pretty much free 
					to do whatever you want with it (even use it commercially) provided you credit us in some way. Aside from that, 
					have fun with it :)
				</p>
			</div>
			<div class="box" id="box-left">
				<h3>
					Diam purus varius
				</h3>
				<p>
					Magna natoque quam est gravida. Rutrum sociis massa accumsan vulputate velit.
				</p>
				<ul class="list">
					<li class="first">
						<a href="#">Sapien quisque curabitur posuere</a>
					</li>
					<li>
						<a href="#">Enim sit a nunc</a>
					</li>
					<li>
						<a href="#">Dictum iaculis cubilia erat</a>
					</li>
					<li>
						<a href="#">Nulla semper libero tempus</a>
					</li>
					<li>
						<a href="#">Dictum iaculis cubilia erat</a>
					</li>
					<li>
						<a href="#">Nulla semper libero tempus</a>
					</li>
					<li class="last">
						<a href="#">Tempus curae imperdiet pellentesque</a>
					</li>
				</ul>
			</div>
			<div class="box" id="box-right">
				<h3>
					Suspendisse phasellus
				</h3>
				<ul class="image-list">
					<li class="first">
						<img class="left" src="images/pic01.jpg" width="60" height="60" alt="" /><span>Convallis at facilisis donec fermentum consequat dui varius fermentum integer.</span>
					</li>
					<li>
						<img class="left" src="images/pic02.jpg" width="60" height="60" alt="" /><span>Lobortis ornare volutpat ante lobortis lectus urna nullam faucibus blandit.</span>
					</li>
					<li class="last">
						<img class="left" src="images/pic03.jpg" width="60" height="60" alt="" /><span>Velit auctor sodales odio at parturient vulputate viverra elit consequat.</span>
					</li>
					<li class="last">
						<img class="left" src="images/pic04.jpg" width="60" height="60" alt="" /><span>Velit auctor sodales odio at parturient vulputate viverra elit consequat.</span>
					</li>
				</ul>
			</div><br class="clearfix" />
		</div>
		<div id="sidebar">
			<div class="box">
				<h3>
					Luctus sodales
				</h3>
				<p>
					Parturient elit sociis curae quam vestibulum. Rutrum eleifend semper sapien. Suspendisse rhoncus risus faucibus ultrices eleifend.
				</p>
				<ul class="list">
					<li class="first">
						<a href="#">Nullam luctus ullamcorper</a>
					</li>
					<li>
						<a href="#">Malesuada a amet</a>
					</li>
					<li class="last">
						<a href="#">Accumsan sit porta</a>
					</li>
				</ul>
			</div>
			<div class="box">
				<h3>
					Nullam adipiscing
				</h3>
				<ul class="list">
					<li class="first">
						<a href="#">Scelerisque risus tortor aenean</a>
					</li>
					<li>
						<a href="#">Eleifend parturient eget cubilia</a>
					</li>
					<li>
						<a href="#">Ligula metus viverra parturient</a>
					</li>
					<li>
						<a href="#">Orci massa tempus consequat</a>
					</li>
					<li class="last">
						<a href="#">Urna nec metus</a>
					</li>
				</ul>
			</div>
		</div><br class="clearfix" />
	</div>
	<div id="page-bottom">
		<div id="page-bottom-content">
			<h3>
				Blandit interdum venenatis lectus
			</h3>
			<p>
				Cras libero lacinia phasellus ornare magnis. Dictum quis fusce eu suscipit magna condimentum porta. 
				Cras eget morbi venenatis consectetur odio lobortis. Interdum morbi tellus hendrerit vestibulum montes. 
				Commodo vivamus elit rhoncus nullam pulvinar neque sapien. Ultrices auctor fermentum integer diam 
				vulputate. Faucibus egestas nibh fusce. Proin sed nisi erat pharetra. Eget donec rutrum fermentum 
				ridiculus natoque justo congue ridiculus.
			</p>
		</div>
		<div id="page-bottom-sidebar">
			<h3>
				Ultrices iaculis
			</h3>
			<ul class="list">
				<li class="first">
					<a href="#">Euismod nulla sagittis</a>
				</li>
				<li>
					<a href="#">Urna vestibulum</a>
				</li>
				<li class="last">
					<a href="#">Rhoncus suspendisse</a>
				</li>
			</ul>
		</div><br class="clearfix" />
	</div>
</div>
<div id="footer">
	&copy; SiteName | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>
</div>
</body>
</html>