<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Anodized
Description: A two-column, fixed-width design with a dark color scheme.
Version    : 1.0
Released   : 20120705
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>
	HemoPheno4HF
</title>
<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Bevan" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="./static/style.css" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1>
				<a>HemoPheno4HF</a>
			</h1>
		</div>
		<div id="menu">
			<ul>
				<li class="first active">
					<a href="http://hemopheno.pythonanywhere.com">Hemodynamic</a>
				</li>
			</ul><br class="clearfix" />
		</div>
	</div>




    <div id="page">
		<div id="content">
			<div class="box">

                <h2 style="display: inline;">Results: </h2>
                <p>{{path}}<p><br/>

                <h2  style="display: inline;">PREDICTED SCORE: {{score}}</h2><br/><br/>

                <h2>TREE:</h2>
                <img src="{{imgsrc}}" align = "left" width="650" height="500"/>
                <a href="{{imgsrc}}" download>Download Full Image</a>

			</div>



			<div class="box" id="box-left">



            </div>
			<div class="box" id="box-right">

			</div><br class="clearfix" />


		</div>
		<div id="sidebar">
			<div class="box">

			</div>
			<div class="box">
				<h3>
				</h3>

			</div>
		</div><br class="clearfix" />
	</div>





<div id="footer">
	&copy; HemoPheno4HF | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a> | Backend by Josie et al. | Website created by Steven Lamp
</div>
</body>
</html>
